body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 60px; /* Przestrzeń na fixed nav */
    padding-bottom: 40px; /* Przestrzeń na fixed footer */
}

header {
    background-color: #5a9;
    color: white;
    text-align: center;
    padding: 60px 0 20px; /* Dostosowanie paddingu aby uniknąć nałożenia na nav */
    margin-top: 40px; /* Zapewnia, że zawartość nie jest ukryta pod nav */
}

nav {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 2vw;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 2vw;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    line-height: 2vw;
}

h2 {
    color: #5a9;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea, form button {
    margin: 5px 0;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #5a9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #478;
}
